{% extends 'courses/base.html' %}


{% block content %}
<div class="container">
	<h4>My Profile</h4>
	<div class="row">
		<div class="card mt-3 mb-3 pxy-3" style="width: 18rem;">
		  <div class="card-header">
		    Subscription
		  </div>
		  {% if user_subscription != None %}
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<h6>Active: {{ user_membership.membership.membership_type }} </h6>
		    	<small>since {{ user_subscription.get_created_date }}</small>
		    </li>
		    <li class="list-group-item">
		    	{% if user_subscription.active != False %}
					<p>Next payment due: {{ user_subscription.get_next_billing_date }}</p>
					<a href="{% url 'memberships:cancel' %}">Cancel subscription</a>

				{% else %}
					<p>You don't have an active membership plan. Check them out here 
						<a href="{% url 'memberships:select' %}"></a>
					</p>
				{% endif %}
		    </li>
		  </ul>
		  {% endif %}
		</div>
		<div class="card mt-3 mb-3 pxy-3" style="width: 18rem;">
		  <div class="card-header">
		    Billing Address
		  </div>
		  {% if address_obj %}
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	Address1: {{address_obj.address1}} 
		    </li>
		    {% if address_obj.address2 %}
		    <li class="list-group-item">
		    	Address2: {{address_obj.address2}} 
		    </li>
		    {% endif %}
		     <li class="list-group-item">
		    	City: {{address_obj.city}} 
		    </li>
		    <li class="list-group-item">
		    	State: {{address_obj.state}} 
		    </li>
		    <li class="list-group-item">
		    	Zip_code: {{address_obj.zip_code}} 
		    </li>
		    <li class="list-group-item">
		    	Country: {{address_obj.country}} 
		    </li>
		  </ul>
		  {% endif %}
		</div>
	</div>
</div>	
{% endblock content %}