{% extends 'courses/base.html' %}

{% block post_detail_link %}
<li>{{ object.title }}</li>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Course Detail</h3> 
				<hr />
				<h4>{{ object.title | title }}</h4>
				<hr />
				<p>{{ object.description|title }}</p>
				<ol>
					{% for lesson in object.lessons %}
					<li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title|title }}</a></li>
					{% endfor %}
				</ol>
				
			</div>
		</div>
	</div>

{% endblock %}